
<div *ngIf="activities">
    <h2><span>Activities</span> {{activities.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Timesheets</span></dt>
        <dd>
            <div *ngIf="activities.timesheetsId">
                <a [routerLink]="['/timesheets', activities.timesheetsId]">{{activities.timesheetsId}}</a>
            </div>
        </dd>
        <dt><span>Project</span></dt>
        <dd>
            <div *ngIf="activities.projectId">
                <a [routerLink]="['/projects', activities.projectId]">{{activities.projectId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'activities/'+ activities.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
