<div>
    <h2>
        <span>Activities</span>
        <button class="btn btn-primary float-right jh-create-entity create-activities" [routerLink]="['/', { outlets: { popup: ['activities-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Activities
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="activities">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Timesheets</span></th>
            <th><span>Project</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let activities of activities ;trackBy: trackId">
                <td><a [routerLink]="['../activities', activities.id ]">{{activities.id}}</a></td>
                <td>
                    <div *ngIf="activities.timesheetsId">
                        <a [routerLink]="['../timesheets', activities.timesheetsId  ]" >{{activities.timesheetsId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="activities.projectId">
                        <a [routerLink]="['../projects', activities.projectId  ]" >{{activities.projectId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../activities', activities.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'activities/'+ activities.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'activities/'+ activities.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
