<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCostsLabel">Create or edit a Costs</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!costs.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="costs.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_dayOfMonth">Day Of Month</label>
            <input type="number" class="form-control" name="dayOfMonth" id="field_dayOfMonth"
                [(ngModel)]="costs.dayOfMonth" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_spentDays">Spent Days</label>
            <input type="number" class="form-control" name="spentDays" id="field_spentDays"
                [(ngModel)]="costs.spentDays" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_activities">Activities</label>
            <select class="form-control" id="field_activities" name="activities" [(ngModel)]="costs.activitiesId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="activitiesOption.id" *ngFor="let activitiesOption of activities; trackBy: trackActivitiesById">{{activitiesOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
